:root {
    --main-font-family:'Bebas Neue', cursive;
    --gradient-color-start: #263559;
    --gradient-color-end: #0E808E;
    --link-color: #fff;
    --link-hover-color: #58d8ff;
    --btn-font-size: 1.5rem;
    --btn-border-color: rgba(0, 0, 0, 0.5);
    --btn-glow-color: #0E808E;
  }
  
body {
    font-family: var(--main-font-family);
    background-color: #202124;
    margin: 0;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.team-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem;
    min-height: 600px;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.team-member:hover {
    background-color: #f0f0f0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.team-member img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h3 {
    margin: 0;
}

.info p {
    margin: 0;
    color: #777;
}

.employee-details{
    flex: 1;
    padding: 2rem;
    border-left: 1px solid #ccc;
    display: none;
    background-color: #ffffff;
    overflow-y: auto;
    margin-top: 115px;
    border-radius: 5px;
}

.employee-details-content {
    display: none;
    flex-direction: column;
    height: 100%;
}

.story {
    margin-top: 1rem;
}

section {
    margin-bottom: 2rem;
}

h1 {
    font-size: 4vw;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, var(--gradient-color-start) 0%, var(--gradient-color-end) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: linear-gradient(to bottom, var(--gradient-color-start) 0%, var(--gradient-color-end) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;    
    margin-bottom: 0.5rem;
}

.team{
    margin-left: 20px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 20px;
    margin: 0;
}

p{
    font-size: 24px;
    line-height: 1.4;
}

.team-section {
    display: flex;
}

.team-member h3, .team-member p, .employee-details h2, .employee-details h4 {
    font-family: var(--main-font-family);
}

.employee-details .button {
    font-size: var(--btn-font-size);
    border: 2px solid var(--btn-border-color);
    background-color: var(--gradient-color-start);
    color: var(--link-color);
    text-shadow: 0 0 15px #1e9bff;
}

.employee-details .button:hover {
    background-color: var(--gradient-color-end);
    box-shadow: 0 0 10px var(--btn-glow-color),
                0 0 30px var(--btn-glow-color),
                0 0 60px var(--btn-glow-color),
                0 0 100px var(--btn-glow-color);
}

#us{
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.Links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    position: relative;
    padding-bottom: 1rem;
}
  
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: #007BFF;
    border-radius: 3px;
}  

.button img {
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}
  
.button:hover img {
    filter: grayscale(0%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.image-link {
    position: relative;
    display: inline-block;
    width: 370px; 
    height: 600px; 
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 1rem;
}

.image-link img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--gradient-color-start, #263559), var(--gradient-color-end, #0E808E));
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.overlay span {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.image-link:hover .overlay {
    opacity: 0.8;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    position: relative;
    padding-bottom: 1rem;
    background-color: #202124;
}

.socials-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 3px;
    border-radius: 3px;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.socials-button img {
    width: 60%;
    height: 60%;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.socials-button:hover img {
    filter: grayscale(0%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--gradient-color-end);
}
  
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}
  
nav li {
    margin-right: 20px;
    font-size: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}

nav a:hover {
    color: var(--link-hover-color);
}

nav a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--link-hover-color);
    animation: underline 0.5s ease-in-out forwards;
}
  

/************* @MEDIA *************/

@media (max-width: 768px) {
    .team-section {
        flex-direction: column;
    }

    .team-container {
        width: 100%;
        padding: 1rem 0;
        min-height: 0;
    }

    .employee-details {
        border-left: none;
        border-top: 1px solid #ccc;
        padding: 1rem;
    }

    h1 {
        font-size: 8vw;
    }
}

@media (max-width: 480px) {
    .team-member img {
        width: 50px;
        height: 50px;
    }

    .info h3 {
        font-size: 16px;
    }

    .info p {
        font-size: 14px;
    }

    h1 {
        font-size: 12vw;
    }
    .employee-details{
        margin-top: 0;
    }
}